<div class="row">
    <div *ngFor="let photo of video" class="col-md-3 mt-5">
        <div class="card" style="width: 18rem;">
            <img [src]="photo.Photo" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{photo.vName}}</h5>
              <p class="card-text">Dummy Text here</p>
              <a (click)="LikeCounter(photo)" class="btn btn-primary">Like</a> {{photo.Like}} &nbsp; &nbsp; <a (click)="DislikeCounter(photo)" class="btn btn-primary">Dislike</a>{{photo.Dislike}}
            </div>
          </div>
          
    </div>
</div>
